.asideChild1-3 {
  font-size: 1.25rem;
  cursor: pointer;
  color: white;

}


.asideChild1-3_active {
  display: none;
}

.drawer_header {
  transition-duration: 400ms;
  display: block;
}

.drawer_header_close {
  display: none;
}

/* ------------------------------------------sidebar----------------------------------------------------- */


.dashboard_sidebar_open {
  width: 20vw;
  height: 100vh;
  transition-duration: 400ms;
  background-color: #121632;
  color: white;
}

.dashboard_sidebar_close {
  width: 5vw;
  height: 100vh;
  transition-duration: 400ms;
  background-color: #121632;
  color: white;
}

.sidebar_header {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6% 4% 6% 6%;
  margin-bottom: 10%;
  background-color: #121632;
  color: white;
}