@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

.asideChild1-3 {
  font-size: 1.25rem;
  cursor: pointer;
  /* color: white; */
  color: var(--text-color);
}

.asideChild1-3_active {
  display: none;
}

.drawer_header {
  font-family: 'Public Sans', sans-serif;
  color: #9DC4FF;
  font-size: 1.2rem;
  transition-duration: 400ms;
  display: flex;
  gap: 3%;
  padding: 4% 2% 2% 2%;
}

.drawer_header_close {
  font-family: 'Public Sans', sans-serif;
  color: #9DC4FF;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition-duration: 400ms; */
  /* display: block; */
  padding: 20% 25%;
  /* display: none; */
}

/* ------------------------------------------sidebar----------------------------------------------------- */


.dashboard_sidebar_open {
  font-family: 'Public Sans', sans-serif;
  width: 18vw;
  height: 100vh;
  transition-duration: 400ms;
  /* background-color: #121632; */
  background-color: var(--background-color);
  color: var(--text-color);
  /* color: white; */
}

.dashboard_sidebar_close {
  width: 5vw;
  height: 100vh;
  transition-duration: 400ms;
  color: var(--text-color);
  background-color: var(--background-color);
  /* background-color: #121632; */
  /* color: white; */
}

.sidebar_header {

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6% 4% 6% 6%;
  margin-bottom: 10%;
  /* background-color: #121632; */
  /* color: white; */
}

.sidebar_header_close {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6% 4% 6% 6%;
  margin-bottom: 50%;
}

.sidebar_dashboard {
  padding: 0% 5% 2% 5%;
}

.sidebar_dashboard_child_open {
  /* width:90%; */
  display: flex;
  padding: 4% 2%;
  align-items: center;
  gap: 5%;
  border-radius: 8px;
}

.sidebar_dashboard_child_close {
  /* width:90%; */
  display: flex;
  padding: 4% 2%;
  align-items: center;
  gap: 5%;
  border-radius: 8px;
  justify-content: center;
}

.sidebar_dashboard_child_open:hover {
  background-color: rgba(170, 62, 255, 0.4);
  /* background-color: red; */
  color: white;
  /* opacity: 20%; */
  cursor: pointer;
}

.sidebar_analytics_child_open {
  display: flex;
  align-items: center;
  padding: 4% 2%;
  gap: 5%;
  border-radius: 8px;
}

.sidebar_analytics_child_close {
  display: flex;
  align-items: center;
  gap: 5%;
  /* width:90%; */
  padding: 4% 2%;
  /* margin-top: 4%; */
  border-radius: 8px;
  justify-content: center;
}

.sidebar_analytics_child_open:hover {
  background-color: rgba(170, 62, 255, 0.4);
  /* opacity: 20%; */
  cursor: pointer;
}

.sidebar_calender_child_open {
  /* width:90%; */
  display: flex;
  padding: 4% 2%;
  align-items: center;
  gap: 5%;
  border-radius: 8px;
}

.sidebar_calender_child_close {
  /* width:90%; */
  display: flex;
  padding: 4% 2%;
  align-items: center;
  gap: 5%;
  border-radius: 8px;
  justify-content: center;
}

.sidebar_calender_child_open:hover {
  background-color: rgba(170, 62, 255, 0.4);
  /* background-color: red; */
  color: white;
  /* opacity: 20%; */
  cursor: pointer;
}

.sidebar_invoice_child_open {
  /* width:90%; */
  display: flex;
  padding: 4% 2%;
  align-items: center;
  gap: 5%;
  border-radius: 8px;
}

.sidebar_invoice_child_close {
  /* width:90%; */
  display: flex;
  padding: 4% 2%;
  align-items: center;
  gap: 5%;
  border-radius: 8px;
  justify-content: center;
}

.sidebar_invoice_child_open:hover {
  background-color: rgba(170, 62, 255, 0.4);
  /* background-color: red; */
  color: white;
  /* opacity: 20%; */
  cursor: pointer;
}

.sidebar_view_profile_child_open {
  /* width:90%; */
  display: flex;
  padding: 4% 2%;
  align-items: center;
  gap: 5%;
  border-radius: 8px;
}

.sidebar_view_profile_child_close {
  /* width:90%; */
  display: flex;
  padding: 4% 2%;
  align-items: center;
  gap: 5%;
  border-radius: 8px;
  justify-content: center;
}

.sidebar_view_profile_child_open:hover {
  background-color: rgba(170, 62, 255, 0.4);
  /* background-color: red; */
  color: white;
  /* opacity: 20%; */
  cursor: pointer;
}









.apps_and_pages_invoice_wrapper {
  margin-top: 10%;
  padding: 0% 5% 2% 5%;
}

.apps_and_pages_invoice_wrapper_close {
  margin-top: 100%;
  padding: 0% 5% 2% 5%;
}

.profile_setting_wrapper {
  margin-top: 10%;
  padding: 0% 5% 2% 5%;
}

.profile_setting_wrapper_close {
  margin-top: 10%;
  padding: 0% 5% 2% 5%;
}


/* .apps_and_pages_invoice_wrapper_heading{
  display: flex;
  justify-content: space-between;
} */

/* .sidebar_apps_and_pages{
  margin-top: 10%;
  padding-left: 6%;
} */


.dashboard_heading {
  /* width: 80%; */
  /* padding: 4% 2 ; */
  opacity: 0.8;
  font-size: 0.9rem;
  color: #63699E;
  margin-bottom: 2%;

}


/* .apps_and_pages_invoice_wrapper_calender{
  padding: 2% 6%;
  font-weight: 200;
} */
/* .apps_and_pages_invoice_wrapper_heading h3{
  font-weight: 200;
  padding: 2% 6%;
  margin-bottom: 1%;
} */
.sidebar_invoice_dropdown ul {
  list-style-type: none;
  /* padding-left: 8%; */
  /* width: 85%; */
}



.sidebar_invoice_dropdown {
  transform: translateY(0%);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Shown state */
.sidebar_invoice_dropdown.open {
  transform: translateY(8%);
  max-height: 2500px;
  transition: max-height 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* .sidebar_profile_settings{
  margin-top: 10%;
  padding: 0% 5% 2% 5%;
} */
/* 
.sidebar_profile_settings p{
  padding: 4% 2%;
  font-size: 19px;
  color: #63699E;
  margin-bottom: 2%;
} */

/* .apps_and_pages_invoice_wrapper h3{
  padding: 2% 6%;
  font-weight: 200;
} */