.asideChild1-3 {
  font-size: 1.25rem;
  cursor: pointer;
  color: white;

}


.asideChild1-3_active {
  display: none;
}

.drawer_header {
  transition-duration: 400ms;
  display: block;
}

.drawer_header_close {
  display: none;
}

/* ------------------------------------------sidebar----------------------------------------------------- */


.dashboard_sidebar_open {
  width: 18vw;
  height: 100vh;
  transition-duration: 400ms;
  background-color: #121632;
  color: white;
}

.dashboard_sidebar_close {
  width: 5vw;
  height: 100vh;
  transition-duration: 400ms;
  background-color: #121632;
  color: white;
}

.sidebar_header {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6% 4% 6% 6%;
  margin-bottom: 10%;
  background-color: #121632;
  color: white;
}

.sidebar_dashboard{
  padding: 2% 5% 2% 5%;
}

.sidebar_dashboard_child_open{
  /* width:90%; */
  display:flex;
  /* padding-left: 7%; */
  padding: 4% 2%;
  align-items: center;
  gap:5%;
  border-radius: 8px;
  /* background-color: red; */
  /* justify-content: center; */
}

.sidebar_dashboard_child_close{
  /* width:90%; */
  display:flex;
  /* padding-left: 7%; */
  padding: 4% 2%;
  align-items: center;
  gap:5%;
  border-radius: 8px;
  justify-content: center;
}


.sidebar_dashboard_child_open:hover{
  background-color: rgba(170, 62, 255, 0.4);
  /* background-color: red; */
  color: white;
  /* opacity: 20%; */
  cursor: pointer;
}

.sidebar_analytics_child_open{
  display:flex;
  /* padding-left: 7%; */
  align-items: center;
  padding: 4% 2%;
  gap:5%;
  /* width:90%; */
  /* margin-top: 4%; */
  border-radius: 8px;
}

.sidebar_analytics_child_close{
  display:flex;
  /* padding-left: 7%; */
  align-items: center;
  gap:5%;
  /* width:90%; */
  padding: 4% 2%;
  /* margin-top: 4%; */
  border-radius: 8px;
  justify-content: center;
}

.sidebar_analytics_child_open:hover{
  background-color: rgba(170, 62, 255, 0.4);
  /* opacity: 20%; */
  cursor: pointer;
}