@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

.dashboard_main{
    display: flex;
    background-color: #25293C;
    gap: 2%;
    padding-right: 2%;
    /* align-items: center;
    justify-content: center; */
    /* height: 100vh; */
}

.dashboard_child1{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: #25293C;
    gap: 2%;
}


.dashboard_right{
    flex: 1;
    height: 100vh;
    overflow-y: scroll ;
    background-color: #25293C;
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    gap: 2%;
}