@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

.dashboard_main{
    display: flex;
    background-color: #25293C;
    gap: 2%;
    padding-right: 2%;
    /* align-items: center;
    justify-content: center; */
    /* height: 100vh; */
}

.dashboard_child1{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: #25293C;
    gap: 2%;
}


.dashboard_right{
    flex: 1;
    height: 100vh;
    overflow-y: scroll ;
    background-color: #25293C;
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    gap: 2%;
}

.dashboard_navbar{
    /* background-color: #121632; */
    background-color: var(--background-color);
    color: var(--text-color);
    height: 7vh;
    border-radius: 8px;
}


                            /* <---------------------------Dashboard Right Second--------------------------> */


.dashboard_right_second{
    font-family: 'Public Sans', sans-serif;
    /* background-color: #2F3248;  */
    /* background-color: var(--background-color); */
    background: transparent;
    color: var(--text-color);
    /* flex: 1; */
    height: 100vh;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: 1fr 1.5fr;
    gap:1.2rem;
    /* border-radius: 8px; */
}
.dashboard_right_second div{
    border-radius: 10px;
}
.lifetime_data{
    background-color: rgba(170,62,255,0.2);
    color:white;
    display: flex;
    padding: 3%;
}


.lifetime_data_content{
    flex:0.65;
}
.lifetime_data_content_heading{
    font-size: 1.2rem;
    margin:8% 0 12% 0%;
}

.lifetime_data_content_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1.4fr;
    margin-top: 2%;
    font-size: 0.8rem;
    row-gap: 20%;
}
.lifetime_data_image {
    flex: 0.45;
    display: flex;
    align-items: center;
}
.lifetime_data_image img{
    width: 100%;
}
.total_invoice{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.amount_due{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.invoice_due{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}



.dashboard_QOD_heading{
    color: #3FFFFF;
}





.dashboard_graph{
    background-color: rgba(101,118,134,0.2);
}
.dashboard_graph_chart_heading{
    padding: 5%;
    display: flex;
    align-items: center;
}


.dashboard_QOD{
    background-color: rgba(101,118,134,0.2);
    padding: 6%;
    overflow-y: scroll;
   
}
.dashboard_QOD_heading{
    color: #3FFFFF;
}
.dashboard_QOD_quote{
    margin-top: 8%;
}








.dashboard_main_part{
    grid-column: span 3;
    background-color: #8CABFF;
}