.dashboard_main{
    display: flex;
    background-color: #25293C;
    gap: 2%;
    padding-right: 2%;
    /* align-items: center;
    justify-content: center; */
    /* height: 100vh; */
}

.dashboard_child1{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: #25293C;
    gap: 2%;
}

.dashboard_child1_1{
    width: 80vw;
    height: 7vh;
    background-color: #2F3248;
    border-radius: 10px;
}

.dashboard_child1_2{
    background-color: #2F3248;
    width: 80vw;
    height: 85vh;
    /* margin-top: 4%; */
    border-radius: 10px;
}






.dashboard_right{
    flex: 1;
    height: 100vh;
    background-color: #25293C;
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    gap: 2%;
}

.dashboard_navbar{
    background-color: #2F3248;
    height: 7vh;
    border-radius: 8px;
}

.dashboard_right_second{
    background-color: #2F3248;
    flex: 1;
    border-radius: 8px;
}