.invoice-list{
    box-shadow: 0 4px 18px rgba(15, 20, 34,.1),0 0 transparent,0 0 transparent;
    /* background: rgb(47, 51, 73); */
    background-color: #1C2034;
    color: rgba(208, 212, 241,0.68);

    /* display: block; */
    /* overflow: hidden; */
    /* overflow-wrap: break-word; */
    /* position: relative; */
    /* padding: 0; */
    /* text-decoration: none; */
    /* transition-duration: .28s;
    transition-property: box-shadow,opacity; */
    /* transition-timing-function: cubic-bezier(.4,0,.2,1); */
    /* z-index: 0; */
    border-color: rgba(208, 212, 241, 0.16);
    /* border-style: solid; */
    /* border-width: 0; */
    border-radius: 6px;
}

.invoice-list-header{
    line-height: 1.5;
    /* font-size: .9375rem; */
    /* font-weight: 400; */
    /* letter-spacing: normal; */
    padding: 1.5rem;
    /* text-transform: none; */
    /* gap: 1rem; */
    align-items: center;
    /* flex-wrap: wrap; */
    display: flex;
}

.invoice-list-header-left{
    display: flex;
    /* margin-inline-end: 12px; */
    gap: 0.75rem;
    background-color: rgb(115, 103, 240);
    color: rgb(255, 255, 255);
    /* transform: scale(1.001); */
    box-shadow: 0 2px 6px rgba(15, 20, 34,.14),0 0 transparent,0 0 transparent;
    /* height: 38px; */

    font-size: 1rem;
    /* min-width: 68px; */
    padding: 0.625rem 1.25rem;
    text-align: center;
    border-radius: 6px;
}

.invoice-list-header-right{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}