.invoice-list-td-one,
.invoice-list-td-two,
.invoice-list-td-three,
.invoice-list-td-four,
.invoice-list-td-five,
.invoice-list-td-six,
.invoice-list-td-seven {
  border-bottom: thin solid rgba(208, 212, 241, 0.16);
  height: 56px;
  padding: 0 16px;
}

.invoice-list-td-one-child {
  color: rgb(115, 103, 240);
  text-decoration: none;
  /* background-color: transparent; */
  line-height: 1.5;
}

.invoice-list-td-three-child {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.invoice-list-td-three-img {
  width: 2.6rem;
  border-radius: 50%;
}

.invoice-list-td-four-child,
.invoice-list-td-five-child,
.invoice-list-td-six-child {
  line-height: 1.5;
}

.invoice-list-td-two-child {
  width: 30px;
  height: 30px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  line-height: normal;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;

  color: rgb(255, 159, 67);
  background-color: #504448;
}

.invoice-list-td-seven-child {
  display: flex;
  /* justify-content: space-evenly; */
  gap: 0.7rem;
}
