.Dashboard2_main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.dashboard2_child1{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: #25293C;
}

.dashboard2_child2{
    background-color: #2F3248;
    width: 80vw;
    height: 85vh;
    margin-top: 4%;
    border-radius: 10px;
}