.invoice_create {
  display: flex;
  flex-wrap: wrap;
  font-family: "Public Sans", sans-serif;
}

.invoice_create_child_left {
  /* width: 100%; */
  /* flex:0.8; */
  background: rgb(47, 51, 73);
  color: rgba(208, 212, 241, 0.68);

  /* display: block; */
  overflow: hidden;
  overflow-wrap: break-word;
  position: relative;
  /* padding: 0; */
  text-decoration: none;
  /* transition-duration: 0.28s;
  transition-property: box-shadow, opacity; */
  /* transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
  /* z-index: 0; */
  border-color: rgba(208, 212, 241, 0.16);
  border-style: solid;
  border-width: 0;
  border-radius: 6px;
  box-shadow: 0 4px 18px rgba(15, 20, 34, 0.1), 0 0 transparent, 0 0 transparent;
}
.invoice_create_child_left_light {
  /* width: 100%; */
  /* flex:0.8; */
  background: black;
  /* background: rgb(47, 51, 73); */
  color: rgba(208, 212, 241, 0.68);

  /* display: block; */
  overflow: hidden;
  overflow-wrap: break-word;
  position: relative;
  /* padding: 0; */
  text-decoration: none;
  /* transition-duration: 0.28s;
  transition-property: box-shadow, opacity; */
  /* transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
  /* z-index: 0; */
  border-color: rgba(208, 212, 241, 0.16);
  border-style: solid;
  border-width: 0;
  border-radius: 6px;
  box-shadow: 0 4px 18px rgba(15, 20, 34, 0.1), 0 0 transparent, 0 0 transparent;
}

.invoice_create_left_first {
  line-height: 1.5;
  font-size: 0.9375rem;
  padding: 1.5rem;
  text-transform: none;
  row-gap: 1.25rem;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
}

.invoice_create_lf_1 {
  max-width: 30%;
}

.invoice_create_lf_2_child1 {
  font-size: 1.375rem;
  line-height: 1.875rem;
  margin-bottom: 12px;
  display: flex;
  /* gap:2rem; */
  /* flex-direction: column; */

  justify-content: space-evenly;
  align-items: center;
  color: rgba(208, 212, 241, 0.78);
}
.invoice_create_lf_2_child1 span {
  width: 45%;
}

.invoice_create_hr1 {
  opacity: 0.16;
  border-width: thin 0 0 0;
}

.invoice_create_left_second {
  line-height: 1.5;
  font-size: 0.9375rem;
  /* font-weight: 400; */
  /* letter-spacing: normal; */
  padding: 1.5rem;
  text-transform: none;
  row-gap: 1.25rem;
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.invoice_create_ls_1 {
  inline-size: 15.5rem;
}

.invoice_create_ls_1_heading {
  font-size: 0.9375rem;
  line-height: 1.3125rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color: rgba(208, 212, 241, 0.78);
}

.invoice_create_left_third {
  line-height: 1.5;
  font-size: 0.9375rem;
  /* font-weight: 400; */
  /* letter-spacing: normal; */
  padding: 1.5rem;
  text-transform: none;
}

.invoice_create_lt_child1 {
  padding-inline-end: 4rem;
  padding-inline-start: 1.25rem;
  margin-bottom: 1rem;
}

.invoice_create_lt_child1_gChild {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  margin: -12px;
  font-weight: 500;
}

.invoice_create_lt_child1_gChild_1 {
  /* width: 100%; */
  padding: 0.75rem;
  font-size: 0.9375rem;
  line-height: 1.3125rem;
}

.invoice_create_lt_child1_gChild_2,
.invoice_create_lt_child1_gChild_3,
.invoice_create_lt_child1_gChild_4 {
  /* width: 100%; */
  padding: 0.75rem;
  font-size: 0.9375rem;
  line-height: 1.3125rem;
}

.invoice_create_lt_child2 {
  color: rgba(208, 212, 241, 0.68);
  border-width: thin;
  overflow: hidden;
  overflow-wrap: break-word;
  position: relative;
  /* padding: 0; */
  text-decoration: none;
  /* transition-duration: 0.28s;
  transition-property: box-shadow, opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
  /* z-index: 0; */
  border-color: rgba(208, 212, 241, 0.16);
  border-style: solid;
  /* border-width: 0; */
  border-radius: 6px;
  display: flex;
  flex-direction: row;
}

.invoice_create_lt_child2_1 {
  padding: 1.25rem;
  flex-grow: 1;
}

.invoice_create_lt_child2_1_gchild1,
.invoice_create_lt_child2_1_gchild2,
.invoice_create_lt_child2_1_gchild3,
.invoice_create_lt_child2_1_gchild4 {
  padding: 0.75rem;
}

.invoice_create_label {
  align-items: center;
  display: inline-flex;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.25rem;
  text-transform: none;
  margin-bottom: 4px;
}

.invoice_create_lt_child2_2 {
  border-inline-start-width: thin;
  border-inline-start-style: solid;
  border-inline-start-color: rgba(208, 212, 241, 0.16);
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.invoice_create_select_1 {
  background-color: #2f3349;
  width: 100%;
  height: 7vh;
  /* font-size: 2.4rem; */
  /* padding: 2rem; */
  border-radius: 4px;
  border-color: #6a6f86;
  /* padding-right: 12px; */
}
.invoice_create_select_1:focus {
  border-color: #7367f0;
}
.invoice_create_select_1:focus-visible {
  border-color: #7367f0;
}

/* .invoice_create_select_1 options{
  background-color: red;
} */

.invoice_create_lt_child3 {
  border-radius: 5px;
  margin-top: 2%;
  font-weight: 500;
  background-color: #7367f0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  color: white;
  padding: 1%;
}
.invoice_create_lt_child3:hover {
  background-color: #6d5ef7;
}

@media (min-width: 600px) {
  .invoice_create_left_first {
    flex-direction: row;
  }
  .invoice_create_lf_2_child1 {
    justify-content: flex-end;
  }
  .invoice_create_left_second {
    flex-direction: row;
  }
  .invoice_create_ls_1 {
    margin: 16px;
  }
  .invoice_create_lt_1 {
    margin: 16px;
  }
  .invoice_create_lt_child2_1_gchild1,
  .invoice_create_lt_child2_1_gchild2 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .invoice_create_lt_child3 {
    margin: 16px;
  }
  .invoice_create_lt_child1 {
    display: none;
  }
}

@media (max-width: 959px) {
  .invoice_create_child_right {
    padding: 0 !important;
    padding-top: 12px !important;
  }
}

@media (min-width: 960px) {
  .invoice_create_child_left {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .invoice_create_lt_child1 {
    display: flex;
  }
  .invoice_create_lt_child1_gChild_1 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .invoice_create_lt_child1_gChild_2,
  .invoice_create_lt_child1_gChild_3,
  .invoice_create_lt_child1_gChild_4 {
    flex: 0 0 16.6%;
    max-width: 16.6%;
  }
  .invoice_create_lt_child2_1_gchild1 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .invoice_create_lt_child2_1_gchild2,
  .invoice_create_lt_child2_1_gchild3,
  .invoice_create_lt_child2_1_gchild4 {
    flex: 0 0 16.6%;
    max-width: 16.6%;
  }
  .invoice_create_child_right {
    flex: 0 0 25%;
    /* max-width: 25%; */
    /* margin-top: 200px; */
  }
}

.invoice_create_child_right {
  padding: 12px;
  padding-top: 0;
  /* padding-left: 12px;
  padding-right: 12px; */
  width: 100%;
}

.invoice_create_ls_1_invoice_total {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  margin-right: 1rem;
}
.invoice_items_attribute {
  /* display: flex;
  /* justify-content: right;  */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.create_right_1 {
  box-shadow: 0 4px 18px rgba(15, 20, 34, 0.1), 0 0 transparent, 0 0 transparent;
  color: rgba(208, 212, 241, 0.68);
  /* margin-bottom: 32px; */
  overflow: hidden;
  overflow-wrap: break-word;
  position: relative;
  text-decoration: none;
  border-color: rgba(208, 212, 241, 0.16);
  border-style: solid;
  border-width: 0;
  border-radius: 6px;

  /* justify-content: center; */
}

.create_right_1_child {
  font-size: 0.93rem;
  font-weight: 400;
  padding: 24px;
  text-transform: none;
  line-height: 1.5;
  background: rgb(47, 51, 73);
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.create_right_1_button1 {
  height: 38px;
  background-color: rgb(115, 103, 240);
  /* background-color: #2f3349; */
  color: rgb(255, 255, 255);
  margin-bottom: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  min-width: 100%;
  box-shadow: 0 2px 6px rgba(15, 20, 34, 0.14), 0 0 transparent, 0 0 transparent;
  padding: 0 20px;
  border-radius: 6px;
  font-weight: 500;
  justify-content: center;
  outline: none;
  text-decoration: none;
  user-select: none;
  border-color: rgba(208, 212, 241, 0.16);
  border-style: solid;
  border-width: 0;
}
.create_right_1_button2 {
  height: 38px;
  /* background-color: #2f3349; */
  background: grey;
  opacity: 0.4;
  color: rgb(255, 255, 255);
  margin-bottom: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  min-width: 100%;
  box-shadow: 0 2px 6px rgba(15, 20, 34, 0.14), 0 0 transparent, 0 0 transparent;
  padding: 0 20px;
  border-radius: 6px;
  font-weight: 500;
  justify-content: center;
  outline: none;
  text-decoration: none;
  user-select: none;
  border-color: rgba(208, 212, 241, 0.16);
  border-style: solid;
  border-width: 0;
}

.create_right_1_button1:hover {
  opacity: 0.9;
  transition-duration: 300ms;
}
