#whyInvoicer {
  font-family: "Inter", sans-serif;
  color: white;
  background: url("./bgImage.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
  padding-left: 8%;
  padding-right: 8%;
}

.whyInvoicerLeft {
  /* flex: 0.6; */
  /* padding-top: 20%; */
  display: flex;
  flex-direction: column;
}

.whyInvoicerLeft h1 {
  margin-bottom: 10%;
  font-size: 2rem;
}
.whyInvoicerLeft p {
  width: 30vw;
  font-size: 1.2rem;
}

.whyInvoicerRight {
  position: relative;
}

.whyInvoicerCircle1 {
  border-radius: 50%;
  height: 25rem;
  /* width: clamp(15rem, 25rem, 30rem); */
  width: 25rem;
  border: 5px solid #def9fa;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whyInvoicerCircle2 {
  border-radius: 50%;
  height: 14rem;
  width: 14rem;
  border: 2px solid #def9fa;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whyInvoicerCircle3 {
  border-radius: 50%;
  height: 7rem;
  width: 7rem;
  border: 1px solid #def9fa;
}
.whyInvoicerCDiv {
  position: absolute;
  top:-2rem;
  right: -2rem;
  width: 13rem;
  aspect-ratio: 1;
  background: linear-gradient(
    121.51deg,
    #3b4a97 -264.89%,
    #4c529f -243.86%,
    #ac52ba -77.96%,
    #130b5a 80.93%
  );
  backdrop-filter: blur(5px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 20px;
}
.whyInvoicerCDiv2 {
  position: absolute;
  top:2rem;
  left: -2rem;
  width: 13rem;
  aspect-ratio: 1;
  background: linear-gradient(
    121.51deg,
    #3b4a97 -264.89%,
    #4c529f -243.86%,
    #ac52ba -77.96%,
    #130b5a 80.93%
  );
  backdrop-filter: blur(5px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 20px;
}
.whyInvoicerCDiv3 {
  position: absolute;
  bottom:-2rem;
  right: 1rem;
  width: 13rem;
  aspect-ratio: 1;
  background: linear-gradient(
    121.51deg,
    #3b4a97 -264.89%,
    #4c529f -243.86%,
    #ac52ba -77.96%,
    #130b5a 80.93%
  );
  backdrop-filter: blur(5px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 20px;
}

@media screen and (max-width:800px) {

  .whyInvoicerLeft{
    text-align: center;
    align-items: center;
    margin-bottom: 10%;
  }
  .whyInvoicerLeft p {
    width: 70vw;
    font-size: 1.1rem;
    opacity: 0.7;
  }
  #whyInvoicer{
    flex-direction: column;
    justify-content:flex-start;
  }
  .whyInvoicerCircle1{
    height:18rem;
    width:18rem;
  }
  .whyInvoicerCircle2{
    width:12rem;
    height:12rem;
  }
  .whyInvoicerCircle3{
    width:6rem;
    height:6rem;
  }
  .whyInvoicerCDiv3{
    width: 8rem;
  }
  .whyInvoicerCDiv2{
    width: 10rem;
  }
  .whyInvoicerCDiv{
    width: 10rem;
  }
}