@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --background-color: #121632;
  --text-color: #ffffff;
}

.light-mode {
  --background-color: #fafafa;
  --text-color: #000000;
}
