@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgb(40, 43, 46); */
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --background-color: #2f3349;
  /* --parent-bg-color: #1c2034; */
  --parent-dash-bg-color: #25293c;
  --text-color: #9ea2bd;
  --box-shadow: 40, 43, 46;
}

.light-mode {
  --background-color: #fafafa;
  --parent-dash-bg-color: #f4f3f6;
  --text-color: #706d7a;
  --box-shadow: 15, 20, 34;
}
.custom-loader-wrapper{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f3349;
}

.custom-loader {
  width: 40px;
  height: 10px;
  color: #766DF4;
  background:
    radial-gradient(farthest-side,currentColor 90%,#0000) left  /10px 10px,
    radial-gradient(farthest-side,currentColor 90%,#0000) center/10px 10px,
    radial-gradient(farthest-side,currentColor 90%,#0000) right /10px 10px,
    linear-gradient(currentColor 0 0) center/100% 4px; 
  background-repeat: no-repeat;
  position: relative;
  animation: s6 2s infinite linear;
}
.custom-loader:before,
.custom-loader:after {
  content: "";
  position: absolute;
  inset:0;
  background:inherit;
  animation:inherit;
  --s:calc(50% - 5px);
  animation-direction: reverse;
}
.custom-loader:after {
  --s:calc(5px - 50%);
}

@keyframes s6 {
  0%   {transform: translate(var(--s,0)) rotate(0)}
  100% {transform: translate(var(--s,0)) rotate(1turn)}
}