@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgb(40, 43, 46); */
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --background-color: #1c2034;
  /* --parent-bg-color: #1c2034; */
  --parent-dash-bg-color: #121632;
  --text-color: #9EA2BD;
  --box-shadow: 40, 43, 46;
}

.light-mode {
  --background-color: #fafafa;
  --parent-dash-bg-color: #F4F3F6;
  --text-color: #706D7A;
  --box-shadow: 15, 20, 34;
}
